<form
  webr
  id="demo"
  [formGroup]="form"
  [touchedOnSend]="true"
  (ngSubmit)="onSubmit()"
  (send)="onSend($event)"
>
  <label webr>
    <span class="label">Texto</span>
    <input webr type="text" formControlName="text" />
    <output webr for="text">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Obrigatório
    </output>
  </label>

  <label webr>
    <span class="label">Número</span>
    <input webr type="number" formControlName="number" />
    <output webr for="number">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Mínimo 18
    </output>
  </label>

  <label webr>
    <span class="label">Área de texto</span>
    <textarea webr formControlName="textarea"></textarea>
    <output webr for="textarea">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Mínimo 2 caracteres
    </output>
  </label>

  <fieldset webr>
    <legend>Opções</legend>

    <label webr-label>
      <span class="label">Opção A</span>
      <input webr type="radio" formControlName="radio" value="A" />
    </label>

    <label webr-label>
      <span class="label">Opção B</span>
      <input webr type="radio" formControlName="radio" value="B" />
    </label>
    <output webr for="radio">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Opção errada
    </output>
  </fieldset>

  <label webr-label>
    <input webr type="checkbox" formControlName="checkbox" />
    <span class="label">Checkbox</span>
  </label>

  <label webr-label>
    <input webr type="checkbox" formControlName="checked" />
    <span class="label">Selecionado</span>
    <output webr for="checked">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Obrigatório
    </output>
  </label>

  <label webr-label>
    <span class="label">Indeterminado</span>
    <input
      webr
      type="checkbox"
      name="indeterminate"
      formControlName="indeterminate"
    />
  </label>

  <label webr>
    <span class="label">E-mail</span>
    <input webr type="email" formControlName="email" autocomplete="email" />
    <output webr for="email">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Endereço inválido
    </output>
  </label>

  <label webr>
    <input
      webr
      type="password"
      formControlName="password"
      autocomplete="current-password"
    />
    <span class="label">Senha</span>
    <output webr for="password">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Mínimo de 6 caracteres</output
    >
  </label>

  <label webr>
    <span class="label">CPF</span>
    <input webr type="text" formControlName="cpf" />
    <output webr for="cpf">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      CPF inválido</output
    >
  </label>

  <fieldset webr>
    <legend>Range Slider</legend>

    <label webr-label>
      <input webr type="range" formControlName="range" />
    </label>
    <output webr for="range">
      <webr-svg-icon key="error_outline"></webr-svg-icon>
      Mínimo 10
    </output>
  </fieldset>

  <webr-select formControlName="select" placeholder="- Selecione -">
    <webr-option
      *ngFor="let item of options"
      [key]="item.value"
      [value]="item.label"
    ></webr-option>
  </webr-select>

</form>

<button form="demo" type="submit">Enviar!</button>

<pre>{{ form.value | json }}</pre>
