<form [formGroup]="form" class="light">
  <div>
    <p>Input</p>

    <section webr>
      <input webr type="text" name="text" formControlName="text" />
      <span webr-error controlName="text"> Campo obrigatório </span>
    </section>

    <hr />

    <p>Checkbox</p>

    <label webr>
      <input webr type="checkbox" formControlName="checkbox" />
      <span class="webr-label">Checkbox</span>
    </label>

    <hr />
    <p>Estático</p>

    <label webr>
      <span class="webr-label">Radio 10</span>
      <input webr type="radio" formControlName="radio" [value]="10" />
    </label>

    <label webr>
      <span class="webr-label">Radio 20</span>
      <input webr type="radio" formControlName="radio" [value]="20" />
    </label>

    <label webr>
      <span class="webr-label">Radio 30</span>
      <input webr type="radio" formControlName="radio" [value]="30" />
    </label>

    <hr />
    <p>Dinâmico</p>

    <label webr *ngFor="let item of items">
      <span class="webr-label">{{ item.name }}</span>
      <input
        webr
        type="radio"
        formControlName="radios"
        [value]="item.value.id"
      />
    </label>
  </div>
</form>

<pre>{{ form.value | json }}</pre>
